#jsanimator {
  #editingcontainer {
    display: flex;
    flex-direction: column;
    margin: -1rem;
    height: calc(100% + 2rem);
  }
  
  #navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0.25rem 0.25rem;
    margin-bottom: -0.25rem;
    background: linear-gradient(
      var(--bg-color) 0%,
      var(--bg-color) calc(100% - 0.25rem),
      var(--shadow-color) calc(100% - 0.25rem),
      #00000000 100%
    );
    position: relative;
    z-index: 100;
  }
  .navbarbutton {
    margin: 0.25rem 0;
    font-size: var(--text-size-small);
    color: var(--text-color);
    text-wrap: nowrap;
    &[data-hovered=true] {
      background-color: var(--bottom-bg-color);
      .buttonoptionwrapper {
        display: block;
      }
    }
  }
  .navbarbuttontext {
    padding: 0.25rem 0.5rem 0.125rem;
    &:hover {
      cursor: pointer;
    }
  }
  .buttonoptionwrapper {
    position: relative;
    width: 1px;
    height: 1px;
    margin: -1px;
    display: none; /* Gets overwritten by &[data-hovered=true] .buttonoptionwrapper  */
  }
  .buttonoptionhitbox {
    position: absolute;
    padding-bottom: 0.25rem;
  }
  .buttonoptions {
    position: relative;
    top: 0.25rem;
    background-color: color-mix(in srgb, var(--bottom-bg-color), #FFFFFF calc(100% / 3));
    padding: 0.375rem 0 0.3125rem;
    border-radius: 0 0 0.5rem 0.5rem;
    min-width: calc(14 * var(--text-size));
    box-shadow: 0 0 0.375rem 0.1875rem var(--shadow-color-far);
    clip-path: inset(0.06rem -100rem -100rem -100rem); /* Hack to remove top shadow */
    overflow: hidden;
  }
  .buttonoption {
    font-size: calc(0.92 * var(--text-size));
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.0625rem 0.5rem;
    &:hover {
      background-color: var(--bottom-bg-color);
      cursor: pointer;
    }
    kbd {
      font-size: calc(0.8 * var(--text-size));
      padding-left: 0.5rem
      &:first-child {
        padding-left: 0.75rem
      }
    }
  }

  #bottomsection {
    display: flex;
    flex: 1;
  }

  #toolbar {
    width: 3rem;
    height: 100%;
    padding-right: 0.25rem;
    background: linear-gradient(
      to right,
      var(--bg-color) 0%,
      var(--bg-color) calc(100% - 0.25rem),
      var(--shadow-color) calc(100% - 0.25rem),
      #00000000 100%
    );
    position: relative;
    z-index: 50;
  }

  #middlesection {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  #canvas {
    height: 70%;
  }

  #timeline {
    flex: 1;
    margin-inline: -0.25rem;
    padding-top: 0.25rem;
    background: linear-gradient(
      to top,
      var(--bg-color) 0%,
      var(--bg-color) calc(100% - 0.25rem),
      var(--shadow-color) calc(100% - 0.25rem),
      #00000000 100%
    );
  }

  #properties {
    width: calc(15% + 8rem);
    height: 100%;
    padding-left: 0.25rem;
    background: linear-gradient(
      to left,
      var(--bg-color) 0%,
      var(--bg-color) calc(100% - 0.25rem),
      var(--shadow-color) calc(100% - 0.25rem),
      #00000000 100%
    );
    position: relative;
    z-index: 50;
  }
}
