#jsanimator {
  #editingcontainer {
    margin: -1rem;
    height: 100%;
  }
  
  #navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0.25rem 0.25rem;
    background: linear-gradient(
      var(--bg-color) 0%,
      var(--bg-color) calc(100% - 0.25rem),
      color-mix(in srgb, var(--text-color-note), #00000000 50%) calc(100% - 0.25rem),
      #00000000 100%
    );
  }
  .navbarbutton {
    margin: 0.25rem 0.125rem;
    padding: 0.25rem 0.375rem 0.125rem;
    font-size: var(--text-size-small);
    color: var(--text-color);
  }
}
