#jsanimator {
  #editingcontainer {
    display: flex;
    flex-direction: column;
    margin: -1rem;
    height: calc(100% + 2rem);
  }
  
  #navbar {
    /* Don't make the menu text size too big */
    --text-size-menu: calc(0.5625rem + 0.45 * var(--text-size));
    --bg-color-menu: color-mix(in srgb, var(--bottom-bg-color), var(--bg-color-solid) 50%);
    --border-color-menu: color-mix(in srgb, var(--bg-color-menu), var(--shadow-color-solid) 50%);
    
    display: flex;
    flex-wrap: wrap;
    padding: round(calc(0.19 * var(--text-size-menu)), 1px);
    background-color: var(--bg-color-menu);
    border-bottom: 0.125rem solid var(--border-color-menu);
  }
  .navbarbutton {
    font-size: var(--text-size-menu);
    color: var(--text-color);
    text-wrap: nowrap;
    &[data-hovered=true] {
      background-color: var(--bottom-bg-color);
      .buttonoptionwrapper {
        display: block;
      }
    }
  }
  .navbarbuttontext {
    padding:
      calc(0.15 * var(--text-size-menu))
      calc(0.4 * var(--text-size-menu))
      calc(0.05 * var(--text-size-menu));
    font-size: var(--text-size-menu);
    &:hover {
      cursor: pointer;
    }
  }
  .buttonoptionwrapper {
    position: relative;
    width: 1px;
    height: 1px;
    margin: -1px;
    display: none; /* Gets overwritten by &[data-hovered=true] .buttonoptionwrapper  */
  }
  .buttonoptionhitbox {
    position: absolute;
    padding-bottom: 0.25rem;
  }
  .buttonoptions {
    position: relative;
    top: round(calc(0.19 * var(--text-size-menu)), 1px);
    background-color: var(--bg-color-menu);
    padding: 0.1875rem 0 0.25rem;
    border-radius: 0 0 0.5rem 0.5rem;
    min-width: calc(14 * var(--text-size-menu));
    outline: 0.125rem solid var(--border-color-menu);
    clip-path: polygon(
      -100% 0.125rem,
      0% 0.125rem,
      0% 0rem,
      100% 0rem,
      100% 0.125rem,
      200% 0.125rem,
      200% 200%,
      -100% 200%
    ); /* Hack to remove top outline */
    overflow: hidden;
  }
  .buttonoption {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.09375rem 0.5rem;
    &:hover {
      background-color: var(--bottom-bg-color);
      cursor: pointer;
    }
    .buttonoptionname {
      font-size: calc(0.92 * var(--text-size-menu));
    }
    .buttonoptionshortcuts {
      margin-left: 1rem;
      position: relative;
      top: 0.0625rem;
      font-size: calc(0.8 * var(--text-size-menu)); /* Stop the div from being larger than it's supposed to */
      * {
        color: var(--text-color-note);
        font-size: calc(0.8 * var(--text-size-menu));
      }
    }
  }

  #bottomsection {
    display: flex;
    flex: 1;
  }
  &[data-orientation=portrait] #bottomsection {
    flex-direction: column;
  }

  #toolbar {
    width: 3rem;
    height: 100%;
    padding-right: 0.25rem;
    background-color: var(--bg-color);
    border-right: 0.125rem solid var(--shadow-color);
  }
  &[data-orientation=portrait] #toolbar {
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    border-right: none;
    border-bottom: 0.125rem solid var(--shadow-color);
  }

  #middlesection {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  #canvas {
    height: 70%;
  }

  #timeline {
    flex: 1;
    padding-top: 0.25rem;
    background-color: var(--bg-color);
    border-top: 0.125rem solid var(--shadow-color);
  }

  #properties {
    width: calc(15% + 8rem);
    height: 100%;
    padding-left: 0.25rem;
    background-color: var(--bg-color);
    border-left: 0.125rem solid var(--shadow-color);
  }
  &[data-orientation=portrait] #properties {
    width: 100%;
    height: calc(12% + 6rem);
    border-left: none;
    border-top: 0.125rem solid var(--shadow-color);
  }
}
