@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Inter'),
    url('https://rsms.me/inter/font-files/InterVariable.woff2?v=4.1') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Inter'),
    url('https://rsms.me/inter/font-files/InterVariable-Italic.woff2?v=4.1') format('woff2');
}
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('https://fonts.gstatic.com/s/materialsymbolsoutlined/v257/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2') format('woff2');
}

@keyframes error-fade-in {
  0%, 40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-dots {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -0.8ex;
  }
}

#jsanimator {
  /* Standard variables for basically everything. */
  --body-font: 'Inter', system-ui, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --text-size: 1.25rem;
  @media (width > 75rem) {
    --text-size: 1.5rem;
  }
  --text-size-small: calc(0.75 * var(--text-size));
  
  /* All colors have separate light and dark versions. */
  --bottom-bg-color: #DEE6EA;
  --bg-color: #FFFFFF55;
  --text-color: #000000;
  --text-color-note: #404040;
  --text-color-disabled: #606060;
  --text-color-link: #0D60A0;
  --text-color-link-visited: #7234C8;
  --heading-color: #053852;
  --button-primary-bg-color: #A7E3ED;
  --button-primary-border-color: #146290;
  --button-neutral-bg-color: #ECF1F4;
  --button-neutral-border-color: #464E51;
  --button-warning-bg-color: #F5C1B9;
  --button-warning-border-color: #AA1A13;
  @media (prefers-color-scheme: dark) {
    --bottom-bg-color: #191D23;
    --bg-color: #00000055;
    --text-color: #FFFFFF;
    --text-color-note: #B7B7B7;
    --text-color-disabled: #999999;
    --text-color-link: #45CAD9;
    --text-color-link-visited: #D37BE0;
    --heading-color: #A7E3ED;
    --button-primary-bg-color: #146290;
    --button-primary-border-color: #A7E3ED;
    --button-neutral-bg-color: #464E51;
    --button-neutral-border-color: #ECF1F4;
    --button-warning-bg-color: #AA1A13;
    --button-warning-border-color: #F5C1B9;
  }
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 3rem);
  height: calc(100vh - 3rem);
  min-width: 50rem;
  min-height: 37.5rem;
  margin: 1.5rem;
  padding: 1rem;
  background-color: var(--bottom-bg-color);
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 1.25;
  color: var(--text-color);

  /* General styling of elements */
  * {
    font-family: var(--body-font);
  }
  p {
    text-align: left;
    margin-top: 0rem;
    margin-bottom: 0.25rem;
  }
  a {
    color: var(--text-color-link);
    transition: font-weight 0.1s ease;
  }
  a:visited {
    color: var(--text-color-link-visited);
  }
  a:hover {
    transition: font-weight 0.2s ease;
    font-weight: 700;
  }
  a:focus {
    outline: 2px solid currentcolor;
    border-radius: 2px;
  }
  .icon {
    font-family: 'Material Symbols Outlined';
    font-weight: 350;
    font-style: normal;
    font-size: 1.1em;
    position: relative;
    top: 0.15em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--heading-color);
    text-align: center;
  }
  h1 {
    font-size: calc(2.5 * var(--text-size));
    margin-block: 1rem;
    font-weight: 500;
  }
  h2 {
    font-size: calc(2 * var(--text-size));
    margin-block: 0.75rem;
    font-weight: 525;
  }
  h3 {
    font-size: calc(1.6 * var(--text-size));
    margin-block: 0.5625rem;
    font-weight: 550;
  }
  h4 {
    font-size: calc(1.4 * var(--text-size));
    margin-block: 0.45rem;
    font-weight: 590;
  }
  h5 {
    font-size: calc(1.2 * var(--text-size));
    margin-block: 0.375rem;
    font-weight: 640;
  }
  h6 {
    font-size: calc(1 * var(--text-size));
    margin-block: 0.3125rem;
    font-weight: 700;
  }
  button {
    display: block;
    min-width: 12rem;
    padding: 0.125rem 0.5rem;
    margin-block: 0.5rem;
    text-align: center;
    font-size: var(--text-size);
    font-weight: 450;
    cursor: pointer;

    --button-current-bg-color: var(--button-neutral-bg-color);
    --button-current-border-color: var(--button-neutral-border-color);
    &.primarybutton {
      --button-current-bg-color: var(--button-primary-bg-color);
      --button-current-border-color: var(--button-primary-border-color);
    }
    &.warningbutton {
      --button-current-bg-color: var(--button-warning-bg-color);
      --button-current-border-color: var(--button-warning-border-color);
    }
    background-color: var(--button-current-bg-color);
    border: calc(0.125 * var(--text-size)) solid var(--button-current-border-color);
    border-radius: 0.5rem;
    color: var(--button-current-border-color);
    &:disabled {
      filter: contrast(0.35) brightness(1.4);
      @media (prefers-color-scheme: dark) {
        filter: contrast(0.35) brightness(0.6);
      }
    }
  }

  /* Specific styling */
  #scripterror {
    height: 100%;
    align-content: center;
    animation-name: error-fade-in;
    animation-duration: 0.6s;
    p {
      text-align: center;
    }
  }

  #loadingtext {
    font-size: calc(1.5 * var(--text-size));
  }
  .loadingdot {
    position: relative;
    animation-name: loading-dots;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  #loadingdot1 {
    animation-delay: -0.8s;
  }
  #loadingdot2 {
    animation-delay: -0.4s;
  }
  #loadingdot3 {
    animation-delay: 0s;
  }
}
