@keyframes error-fade-in {
  0%, 40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-dots {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -0.79ex;
  }
}

@keyframes error-throb {
  0%, 100% {
    font-weight: 500;
  }
  50% {
    font-weight: 600;
  }
}

#jsanimator {
  /* Non-functioning JavaScript */
  #scripterror {
    height: 100%;
    align-content: center;
    animation-name: error-fade-in;
    animation-duration: 0.6s;
    p {
      text-align: center;
    }
  }
  #errorinfo {
    font-size: var(--text-size-small);
    font-family: monospace;
    line-height: 1.1;
    overflow-wrap: break-word;
    text-wrap: wrap;
    text-align: left;
  }

  /* Loading screen */
  #loadingcontainer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #loadingtext, #loadingprogress {
    font-size: calc(1.5 * var(--text-size));
  }
  #loadinginfo {
    width: 100%;
  }
  .loadingdot {
    position: relative;
    animation-name: loading-dots;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  #loadingdot1 {
    animation-delay: -0.8s;
  }
  #loadingdot2 {
    animation-delay: -0.4s;
  }
  #loadingdot3 {
    animation-delay: 0s;
  }

  /* Menu screen */
  #menubuttongroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    box-sizing: border-box;
    height: 100%;
    /* Make buttons more centered according to the entire screen */
    padding-bottom: 4rem;
  }
  .menubuttonwrapper {
    display: flex;
    justify-content: start;
  }
  .buttondescription {
    text-align: left;
    margin-left: 1rem;
    align-content: center;
    color: var(--text-color-note);
  }
  .texterror {
    color: var(--text-color-warning);
    animation-name: error-throb;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
