@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Inter'),
    url('https://rsms.me/inter/font-files/InterVariable.woff2?v=4.1') format('woff2');
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Inter'),
    url('https://rsms.me/inter/font-files/InterVariable-Italic.woff2?v=4.1') format('woff2');
}

@keyframes error-fade-in {
  0%, 40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#jsanimator {
  --body-font: "Inter", system-ui, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 3rem);
  height: calc(100vh - 7rem);
  margin: 1.5rem;
  padding: 1rem;
  overflow-y: auto;
  background-color: #FFFFFF55;
  border-radius: 0.5rem;

  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  p {
    color: #FFFFFF;
    text-align: left;
    margin-top: 0rem;
    font-size: 1.25rem;
    @media (width >= 50rem) {
      font-size: 1.5rem;
    }
    margin-bottom: 0.25rem;
  }
  a {
    color: #45CAD9;
  }
  a:visited {
    color: #D37BE0;
  }
  footer {
    width: 30rem;
    position: absolute;
    left: calc(50vw - 15rem);
    bottom: 0;
    padding-block: 0.5rem;
    background-color: #00000055;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  footer p {
    font-size: 1.25rem;
    margin-block: 0;
    text-align: center;
  }
  
  #scripterror {
    height: 100%;
    align-content: center;
    animation-duration: 0.6s;
    animation-name: fade-in;
    p {
      text-align: center;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Hubot Sans", "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 95;
    line-height: 1.1;
    color: #E0F1EB;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 0.75rem;
  }
  h3 {
    font-size: 2.25rem;
    margin-bottom: 0.5625rem;
  }
  h4 {
    font-size: 1.8rem;
    margin-bottom: 0.45rem;
  }
  h5 {
    font-size: 1.5rem;
    margin-bottom: 0.375rem;
  }
  h6 {
    font-size: 1.25rem;
    margin-bottom: 0.3125rem;
  }
  
  .horizontalrule {
    width: 50%;
    min-width: 20rem;
    margin-bottom: 1rem;
    margin-inline: auto;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: #25D06C;
    justify-self: center;
  }
  
  .menubuttongroup {
    box-sizing: border-box;
    /* -6rem so buttons end up closer to the middle */
    height: calc(100vh - 17.75rem - 6rem);
    align-content: center;
    padding-block: auto;
  }
  button {
    display: block;
    min-width: 12rem;
    padding: 0.125rem 0.5rem;
    margin-block: 0.5rem;
    text-align: center;
    font-family: "IBM Plex Sans", "Times New Roman", "Times", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size: 1.75rem;
    background-color: #25D06C;
    border: 0.1875rem solid #078A3E;
    border-radius: 0.5rem;
    cursor: pointer;
    &.menubutton {
      margin-bottom: 0.25rem;
    }
    &.centerbutton {
      margin-inline: auto;
    }
    &.bottombutton {
      margin-top: auto;
    }
    &.primarybutton {
      background-color: #12C9D9;
      border-color: #077D88;
    }
  }
  
  p#gameexpiration {
    font-style: italic;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  p.instructionstext {
    margin: 1rem auto;
    text-align: justify;
    text-align-last: center;
    max-width: 40rem;
  }
  .textemdash {
    display: inline-block; /* Don't break before em-dashes */
  }
}
